mat-form-field{
    width: 100%;
}

.v-center{
    width: 100%;
    text-align: center;
}

mat-card{
    width: 40%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}